#navbar {display:block; margin:0 0px 15px 0px;}
#navbar ul#menu {margin:0px; padding:0px;}
#navbar ul#menu li
	{
	margin:0px;
	padding:0px;
	border:0px;
	list-style:none;
	z-index:2;
	margin-bottom: 0px;
	border-bottom: 1px none #FFFFFF;
	}
#navbar ul#menu li a {
	margin:0px;
	padding:0px;
	border-bottom-width:0px;
	display:inline-block;
	padding-left: 30px;
	text-shadow:none;
 font-weight: bold;
	font-style: normal;
	text-transform: none;
	word-spacing: 0pt;
	letter-spacing: 0pt;
	background:#e3e3c7;
}
#navbar ul#menu li ul {margin:0px; padding:0px; height:auto;}
#navbar ul#menu li li
	{
	margin:0px;
	padding:0px;
	border:0px;
	list-style:none;
	z-index:2;
	margin-top: 0px;
	border-top: 1px none #FFFFFF;
	}
#navbar ul#menu li a:link,
#navbar ul#menu li a:visited,
#navbar ul#menu li a:active {
	color: #4a4630;
	display: block;
	text-decoration: none;
	text-shadow:none;
}
#navbar ul#menu li a:hover {
	cursor:pointer;
	color: #472b18;
	display: block;
	text-decoration: none;
	background:#e3e3c7;
}
#navbar ul#menu li li a
{
	display: block;
	margin-left:0px;
		background:#e3e3c7;
}
#navbar ul#menu li li a:link,
#navbar ul#menu li li a:visited,
#navbar ul#menu li li a:active {
	color: #4a4630;
	text-decoration: none;
}
#navbar ul#menu li li a:hover {
	color: #472b18;
	text-decoration: none;
		background:#e3e3c7;
}
#h-nav, div#tabathaBlock {position:relative; z-index:30;}
#mainContent, #pageSynopsis, #synopsis, #mainColumnWrapper, div#mainContent div.content {position:relative; z-index:2;}
#navbar ul#menu li a span
{
	font-family: helvetica, sans-serif;
	line-height:1em;
	display:block;
	font-size: 12px;
	padding-top:8px;
	padding-left:9px;
	padding-bottom:9px;
		padding-left:10px;
}
#navbar ul#menu li ul li a span
{
			 padding-left:20px;
		background:url(http://www.mrsite.co.uk/css/shared/=NONE=.gif) no-repeat 17px center;
}
#h-nav {width:100%; display:inline-block;margin:0px; padding:0px; background: #e3e3c7;}
.nav, .nav * {margin:0;padding:0;list-style:none;}
.nav {line-height:1.0;}
.nav ul {position:absolute;top:0px;visibility:hidden;z-index:50;}
.nav ul li {width:100%; margin:0;}
.nav li:hover {visibility:inherit; /* fixes IE7 'sticky bug' */}
.nav li {float:left;position:relative;
margin-right:0px;}
.nav a {display:block;position:relative;}
.nav li:hover ul,
.nav li.sfHover ul {left:0;top:0px;/* match top ul list item height */z-index:60;}
ul.nav li:hover li ul,
ul.nav li.sfHover li ul {top:-999em;}
ul.nav li li:hover ul,
ul.nav li li.sfHover ul {left:10em; /* match ul width */top:0;}
ul.nav li li:hover li ul,
ul.nav li li.sfHover li ul {top:-999em;}
ul.nav li li li:hover ul,
ul.nav li li li.sfHover ul {left:10em; /* match ul width */top:0;}
ul.nav li a {float:left; margin:0; padding:0 0 0 4px; background-repeat:none; background-position:top left;}
ul.nav li a span.menuspan {float:left; display:block; padding:8px 13px 8px 6px;}
ul.nav.nav a span.sf-with-ul span {padding-right:2.25em; min-width:1px;}
ul.nav li li {display:block; margin:0; padding:0px;}
ul.nav li li a {float:none; margin:0; background-image:none;}
ul.nav li li a span {float:none; margin:0; background-image:none; padding:8px 10px 8px 5px; display:block;}
.sf-sub-indicator {position:absolute;display:block;right:8px;top:8px; /* IE6 only */width:24px;height:24px;text-indent:-999em;overflow:hidden;}
a > .sf-sub-indicator {top:30%; right:8px; background-position: 0 -100px;}
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {background-position: -10px -100px;}
div#h-nav .nav ul .sf-sub-indicator { background-position:  -10px 0; }
div#h-nav .nav ul a > .sf-sub-indicator { background-position:  0 0; }
div#h-nav .nav ul a:focus > .sf-sub-indicator,
div#h-nav .nav ul a:hover > .sf-sub-indicator,
div#h-nav .nav ul a:active > .sf-sub-indicator,
div#h-nav .nav ul li:hover > a > .sf-sub-indicator,
div#h-nav .nav ul li.sfHover > a > .sf-sub-indicator {background-position: -10px 0;}
.sf-shadow ul {
	background:	url('../images/shadow.png') no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}.sf-shadow ul.sf-shadow-off {background: transparent;}
b.sf-sub-indicator {background-position:top left; background-repeat: no-repeat; display:block;}
div#h-nav .nav {float: left;margin-bottom:0px;}
div#h-nav .nav li:hover,
div#h-nav .nav li.sfHover,
div#h-nav .nav a:focus,
div#h-nav .nav a:hover,
div#h-nav .nav a:active {outline:0;z-index:1;}
.nav li a
{
font-family: helvetica, sans-serif;
 font-weight: bold;
	font-style: normal;
	text-transform: none;
word-spacing: 0pt;
letter-spacing: 0pt;
display: block;
line-height:1em;
}
	.nav li a {font-size: 12px;}
	.nav li ul {margin-top:28px; width:160px;}
.nav li a:link,
.nav li a:active,
.nav li a:visited
{
color: #4a4630;
text-decoration: none;
}
.nav li a:hover
{
cursor:pointer;
color: #472b18;
text-decoration: none;
}
.nav li li a:link,
.nav li li a:visited,
.nav li li a:active
{
color: #4a4630;
text-decoration: none;
}
.nav li li a:hover
{
cursor:pointer;
color: #472b18;
text-decoration: none;
}
ul.nav a span.menuspan.sf-with-ul
{
margin-right:0px;
min-width:1px;
}
b.sf-sub-indicator
{
background:none;
width:16px;
height:16px;
right:0px;
}
ul.nav li li a span {background-image:none; padding-left:10px;}
ul.nav li a span.menuspan,
ul.nav li a
{
background:#e3e3c7;
}
div#h-nav {background:#e3e3c7;}
ul.nav li a:hover span.menuspan,
ul.nav li a:hover
{
background:#e3e3c7;
}
ul.nav li li a span.menuspan,
ul.nav li li a
{
background:#e3e3c7;
}
ul.nav li li a:hover span.menuspan,
ul.nav li li a:hover
{
background:#e3e3c7;
}
	ul.nav li, ul.nav {
		border-top:px none ;;
		border-right: px none ;;
		border-bottom: px none ;;
		border-left: px none ;;
	}
	ul.nav li li, ul.nav li ul {
		border-top:px none ;;
		border-right: px none ;;
		border-bottom: px none ;;
		border-left: px none ;;
	}
